html, body{
    width: auto;
    height: auto;
}

.wrap{
    background-image: url('https://img.freepik.com/free-photo/front-view-beautiful-dog-with-copy-space_23-2148786561.jpg?size=626&ext=jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    font-family: 'Numans', sans-serif;
    min-height: 100%;
    width: 100%;
    background-attachment: fixed;
    position: relative;
}