html, body{
    width: auto;
    height: auto;
}

.wrap{
    background-image: url('https://png.pngtree.com/thumb_back/fh260/back_our/20190628/ourmid/pngtree-cartoon-hand-drawn-yellow-pet-supplies-illustration-background-image_275642.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    font-family: 'Numans', sans-serif;
    min-height: 100%;
    width: 100%;
    background-attachment: fixed;
    position: relative;
}